.blog {
	background-color: white;
	padding: 1em 5em;
}

article {
	max-width:600px;
	margin: auto;
	margin-top: 70px;
}

.menu {
	max-width: 200px;
	background-color: beige;
	padding: 1em;
}

.toolbar {
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

.tool {
	background-color: green;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	border: 2px solid;
	border-color: green;
	text-decoration: none;
	display: inline-block;
}

.auth {
	float: right;
}

a.tool:hover {
	background-color: white;
	color: green;
}

@media (max-width: 480px) {
	.blog {
		padding: 0.5em;
	}
}
body {
	background-color: lightblue;
	font-family: sans-serif;
}

.photo {
	max-width: 100%;
	margin: auto;
}

.thumbnail {
	max-width: 8em;
	max-height: 8em;
}

.thumbbutton {
	width: 8em;
	height: 8em;
	vertical-align: top;
	padding: 0;
	border-style: none;
	margin: 0.2em;
	background-color: transparent;
}

.edit {
	border-radius: 5px;
	padding: 5px;
	background-color: lavender;
}

.insert {
	margin: 1em auto;
	border-width: 1px 0;
	border-style: solid;
	padding: 5px 0;
}

textarea {
	width: calc(100% - 4px);
	font-family: inherit;
	border: none;
}

.logo {
	max-height: 5ex;
	margin: 1ex;
	vertical-align: middle;
}

.save_pending {
	background-color: yellow;
}


.private {
	background-color: lightgrey;
}

.tocitem {
	border-radius: 1ex;
	background-color: white;
	padding: 1em 5em;
	margin: 1em;
}
	
.warning {
        font-weight: bold;
	color: orange;
	border: solid orange;
}
