<!DOCTYPE html>
<html><head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'PhotoBlog/style.css' %}" />
{% block head %}
{% endblock %}
<title>
{% block title %}
{% endblock %}
</title>
</head>
<body>
<nav class="toolbar">

<a href={% url 'PhotoBlog:list' %}><img src="{% static 'PhotoBlog/logo.png' %}" alt="[logo] Pauls Reiseblog" class="logo"/> Pauls Reiseblog</a>
{% block nav %}
{% endblock %}

{% if user.is_authenticated %}

{% block navauth %}
{% endblock %}
<form method="post" action="{% url 'logout' %}" style='display:inline;'>
    {% csrf_token %}
    <span class="auth">Angemeldet als {{user}}. <button type="submit">logout</button></span>
</form>
{% else %}
<a class="auth" href="{% url 'login' %}?next={{request.get_full_path}}">Anmelden</a>
{% endif %}
</nav>

{% block body %}
{% endblock %}

</body></html>