<!DOCTYPE html>
<html><head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'PhotoBlog/style.css' %}" />
<title>Alle Beiträge</title>
</head>
<body>
<nav class="toolbar">
<a class="tool" href="#">Neuen Beitrag schreiben</a>
<a class="tool" href="{% url 'logout' %}">Abmelden</a>
</nav>
{% for project in projects %}
<div class="blog tocitem{% if not project.is_public %} private{% endif %}">
<a href="{% url 'PhotoBlog:blog' project.id %}">{{ project }}</a>
{% if not project.is_public %}
<span class="warning">Dieser Beitrag ist noch nicht veröffentlicht.</span>
{% endif %}
</div>
{% endfor %}
</ul>
</body></html>