{% extends 'PhotoBlog/base.html' %}

{% block title %}
Pauls Reiseblog
{% endblock %}

{% block nav %}
<a class="tool" href="#">Neuen Beitrag schreiben</a>
{% endblock %}

{% block body %}
{% for project in projects %}
<div class="blog tocitem{% if not project.is_public %} private{% endif %}">
<a href="{% url 'PhotoBlog:blog' project.id %}">{{ project }}</a>
{% if not project.is_public %}
<span class="warning">Dieser Beitrag ist noch nicht veröffentlicht.</span>
{% endif %}
</div>
{% endfor %}
{% endblock %}