{% extends 'PhotoBlog/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'PhotoBlog/upload.css' %}" />
<script src="{% static 'PhotoBlog/upload.js' %}"></script>
{% endblock %}
{% block title %}
{{ project }}
{% endblock %}

{% block navauth %}
<a class="tool" href="{% url 'PhotoBlog:blog' project.id %}">Seite ansehen</a>
<a class="tool" href="{% url 'PhotoBlog:editor' project.id %}">Bearbeiten</a>
<a class="tool" href="{% url 'PhotoBlog:upload' project.id %}">Photos hochladen</a>
{% endblock %}

{% block body %}
<form class="ulform" method="post" action="" enctype="multipart/form-data" id="ulform">
	{% csrf_token %}
  <div class="ul_input">
    <input class="ul_file" type="file" name="images" id="file" multiple />
    <label for="file"><strong>Photo auswählen</strong><span class="ul_drop"> oder hier ablegen</span>.</label>
    <button class="ul_button" type="submit">Hochladen</button>
  </div>
  <div class="uploading">wird hochgeladen...</div>
  <div class="success">Fertig!</div>
  <div class="error">Fehler!</div>
</form>

{% for photo in project.photo_set.all %}
<img src="{{ MEDIA_URL }}{{ photo.get_tn }}" class="thumbnail"/>
{% endfor %}
{% endblock %}